@(pending: Integer, completed: Integer, failed: Integer)

@main("Welcome to Play") {

    Messages

    <div id='cssmenu'>
	    <ul>	      
	        <li class='' id="pending-messages">
                <a href='#'>
	                <span>Pending (@pending)</span>
                </a>
	        </li>
	      
	        <li class='' id="completed-messages">
	          <a href='#'>
	            <span>Completed (@completed)</span>
	          </a>
	        </li>
	      
	        <li class='last' id="failed-messages">
	          <a href='#'>
	            <span>Failed (@failed)</span>
	          </a>
	        </li>
	    </ul>
	</div>

    <div id="messages-display">
        <table class="tg">
            <tr>
                <th class="tg-yw4l">Sender</th>
                <th class="tg-yw4l">Sent at</th>
                <th class="tg-yw4l">Request</th>
            </tr>
            <tr id="messages-display-content">
            </tr>
        </table>
    </div>

}
